* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    background-color: #2a607c;
    color: #ffffff;
}
/*Header in line to call Blue boxes*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* For just mark part of Title */
.header h1 .seo {
    color: #d9dcd6;
}
/* For rest of Title */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*Header in line to call Blue boxes*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*Reference to links */
a {
    color: #ffffff;
    text-decoration: none;
}
/*Size of paragraph */
p {
    font-size: 16px;
}
/*Big image format */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*directions of pictures in blue boxes */
.float-left {
    float: left;
    margin-right: 20px;
    }
/*directions of pictures in blue boxes */
.float-right {
    float: right;
    margin-left: 20px;
    }
/*format of  blue boxes (Generals) */
.content {
    width: 70%;
    display: inline-block;
    margin-left: 10px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}
/*format of  blue boxes (image) */
.blue-box img {
    margin-bottom: 20px;
    max-height: 170px;
    }
/*format of  blue boxes (Texts) */    
.blue-box h2 {
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
    }
/*format of  blue boxes (insede each) */
.blue-box {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 100px;    
    background-color: #0072bb;
    }
/*format of large box side(General) */       
.benefits {
    margin-right: 30px;
    padding: 60px;
    clear: both;
    float: right;
    width: 25%;
    height: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}
/*format of large box side(Image) */       
.benefit-format img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Foot of page - personal menssage */
.footer {
    margin-bottom: 20px;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.footer h2 {
    font-size: 20px;
}
